body {
  margin: 0;
  padding: 1em 3em;
}
#exercise {
  padding: 2em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
@media(min-width:600px){
  #exercise{
    flex-direction: row;
    text-align: center;
  }
}
p {
  border-radius: 4px;
  margin: 0px;
  display: flex;
  width: 4rem;
  height: 4rem;
  border: none;
  justify-content: left;
  align-items: center;
  font-size: 4em;
}

#operator,
#equal {
  font-weight: 500;
  font-size: 4em;
  color: blue;
  border: none;
}
#nav-btn {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}
#nav-btn button {
  font-size: 2em;
  padding: 0.5rem;
 min-width: 5rem;
  margin: 0.5rem 1.5rem;
  background-color: chartreuse;
  border: 1px solid red;
  border-radius: 30px;
}

#nav-btn button:hover {
  color: red;
}

#nav-btn #restart-btn {
  font-size: 1em;
  min-width: 5rem;
  background-color: red;
  color: white;
}

#btn-el {
  margin-top: 17px;
  color: rgb(107, 104, 104);
  padding: 6px;
  width: 8rem;
  height: 3rem;
  border: 1px solid red;
  border-radius: 30px;
  background-color: white;
  font-size: 1.2em;
}
#btn-el:hover {
  background-color: rgb(107, 104, 104);
  color: white;
}
#imput-el {
  border-radius: 4px;
  margin: 0px;
  display: flex;
  width: 4em;
  height: 1.5em;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
#resultados {
  font-size: 2em;
}
